*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 color: aliceblue;
background-image: url(../public/bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form{
  background-color: transparent;
  width:50vh;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(250, 237, 237);
}

input[type="password"],
input[type="email"] {
  background-color: transparent;
    border-radius: 4px;
}

.link{
color: white;
font-size: large;
font-weight: bold;
text-decoration: none;
margin: 10px;
}

.link:hover{
  color: black;
  text-decoration: underline;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  color: aliceblue;
  background-color: black;
  width: 80%;
  height: 40px;
  border-radius: 5px;
}
button:hover{
 background: transparent;
 color: black;
}